<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <!-- <link rel="stylesheet" href="login.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>

<body>
  <div class="container">
    <div class="login-form">
      <div class="logo">
        <h1>DEMO</h1>
      </div>
      <h2>Login</h2>
      <p>Login to access your travelwise account</p>

      <!-- Display Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          <!-- <img src="Image/alert-icon.svg" alt="Alert icon" class="alert-icon"> -->
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endwith %}

      <form action="/login" method="POST">
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="" autocomplete=off required>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <div class="password-field">
            <input type="password" id="password" name="password" placeholder="********" autocomplete=off required>
            <img src="{{ url_for('static', filename='images/eye-slash-fill.svg') }}" alt="Toggle password visibility"
              class="toggle-password">
          </div>
        </div>
        <div class="options">
          <label>
            <input type="checkbox" id="remember-me"> Remember me
          </label>
          <a href="#" class="forgot-password">Forgot Password</a>
        </div>
        <button type="submit" class="login-btn">Login</button>
      </form>
      <p class="signup-link">
        Don’t have an account? <a href="/signup">Sign up</a>
      </p>
    </div>
    <div class="illustration">
      <img src="{{ url_for('static', filename='images/login.jpg') }}" alt="Secure login illustration">
    </div>
  </div>
</body>

</html>